<!DOCTYPE html>
<html ng-app="genAlg">{% raw %}
<head>
    <title>A Genetic Algorithm for Task Scheduling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
</head>
<body ng-controller="AppController">
<div class="container">
    <div class="row">
        <h1>A Genetic Algorithm for Task Scheduling</h1>
        <hr>
    </div>

    <div class="row" id="header">
        <div class="col-lg-4">
            Processors:
            <input class="form-control" type="number" min="1" ng-model="constraints.processors" ng-change="updateSchedule()">
        </div>
        <div class="col-lg-4">
            Total Time:
            <input class="form-control" type="number" min="1" ng-model="constraints.total_time" ng-change="updateSchedule()">
        </div>
    </div>

    <div id="task-input-container" class="row">
        <div class="row">
            <div class="col-lg-2"><h5>Name</h5></div>
            <div class="col-lg-1"><h5>Length</h5></div>
            <div class="col-lg-1"><h5>Time Constraint</h5></div>
            <div class="col-lg-2"><h5>Task Dependency</h5></div>
        </div>
        <div ng-repeat="task in tasks" class="row task-input">
            <div class="col-lg-2">
                <input type="text" class="form-control" ng-model="task.name">
            </div>
            <div class="col-lg-1">
                <input type="number" class="form-control" ng-model="task.length">
            </div>
            <div class="col-lg-1">
                <input type="number" class="form-control" ng-model="task.timeConstraint">
            </div>
            <div class="col-lg-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="tasks.length < 2">
                        {{ getDependency(task).name }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="setDependency(task, null)" ng-show="task.depend"><a href="#">None</a>
                        </li>
                        <li class="divider" ng-show="task.depend"></li>
                        <li ng-repeat="depend in tasks" ng-hide="task.depend == depend.id || task.id == depend.id || depend.depend == task.id" ng-click="setDependency(task, depend.id)">
                            <a href="#" ng-bind="depend.name"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <br>
                <button class="btn pull-right" ng-click="addTask()">Add Task</button>
            </div>
        </div>
    </div>

    <div class="row" id="schedule">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Processor</th>
                <th ng-repeat="n in range(schedule[0].length)">{{ $index + 1}}</th>
            </tr>
            </thead>
            <tr ng-repeat="processor in schedule">
                <td ng-bind="$index + 1"></td>
                <td ng-repeat="task in processor" style="background-color: {{ task.color }}"></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <button class="btn btn-primary btn-large pull-right" ng-click="generateSchedule()">Generate
            Schedule
        </button>
    </div>
</div>

<script src="../static/js/lib/angular.min.js"></script>
<script src="../static/js/lib/jquery.min.js"></script>
<script src="../static/js/lib/bootstrap.min.js"></script>

<script src="../static/js/app.js"></script>

<script>


</script>
</body>
</html>
{% endraw %}