<!DOCTYPE html>
<html>
<head>
    <title>A Genetic Algorithm for Task Scheduling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>A Genetic Algorithm for Task Scheduling</h1>
    <a href="http://theisensanders.com/genetic_task_scheduling_algorithm/">Project Documentation</a>
    <p class="lead"><span class="thick">Status:</span> App being built, check back later</p>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>